openapi: 3.1.0
info:
  title: ProcessOut Balances Invoices API
  version: 1.0.3
  description: ProcessOut is a payments technical layer that standardizes merchant connections to 100+ payment providers (PSPs/APMs), with a PCI DSS card vault, tokenization for recurring payments, dynamic/no-code checkout, ML-based smart routing, analytics and transaction reconciliation. Authentication is HTTP Basic using a project ID (username) and secret API key (password). This OpenAPI 3.1 description was assembled by API Evangelist from the per-operation OpenAPI fragments ProcessOut publishes in each ReadMe API-reference page.
  contact:
    email: help@processout.com
    url: https://docs.processout.com
servers:
- url: https://api.processout.com
  description: Production
security:
- sec0: []
tags:
- name: Invoices
paths:
  /invoices/{invoice_id}/authorize:
    post:
      summary: Authorizing an invoice
      description: ''
      operationId: authorizing-an-invoice
      parameters:
      - name: invoice_id
        in: path
        description: The invoice ID generated by ProcessOut during the invoice creation
        schema:
          type: string
        required: true
      - name: Idempotency-Key
        in: header
        description: Unique key to your request that will be used for idempotency
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                source:
                  type: string
                  description: Source used to authorization the payment. Can be a card, a token or a gateway request.
                save_source:
                  type: boolean
                  description: Optional if you want us to save the payment source (card or APM) by creating a customer token during the authorisation
                initial_scheme_transaction_id:
                  type: string
                  description: Override the scheme ID
                incremental:
                  type: boolean
                  description: Request a pre-authorization that can be incremented at a later stage
                  default: false
                preferred_scheme:
                  type: string
                  description: 'Scheme the customer would prefer to process transaction on. Ex: `carte bancaire`. If there is already a default set on the card object, then you can override it using this field. Please use `none` if you wish to override it back to empty for this request. <br>_Only supported on compatible payment providers_.'
                external_three_d_s:
                  type: object
                  description: Allow you to pass 3DS data obtained from an external provider outside of ProcessOut. Please contact your CSM to ensure the PSPs you are routing towards support this functionality.
                  properties:
                    xid:
                      type: string
                      description: Base64 encoded XID - Transaction identifier resulting from authentication processing.
                    trans_status:
                      type: string
                      description: AResTransStatus (fingerprint) or CResTransStatus (challenge) from the 3DS response
                    eci:
                      type: string
                      description: Electronic Commerce Indicator
                    cavv:
                      type: string
                      description: Cardholder Authentication Verification Value (CAVV), Authentication Verification Value (AVV) or Universal Cardholder Authentication Field (UCAF). Must be in Base64 encoded format.
                    ds_trans_id:
                      type: string
                      description: Unique transaction identifier assigned by the Directory Server (DS) to identify a single transaction.
                    version:
                      type: string
                      description: 3DS version used e.g. 2.2.0
                    authentication_flow:
                      type: string
                      description: 'Denotes the flow which 3DS took. Frictionless meaning no challenge taken place from the customer''s point of view. Accepted values: `FRICTIONLESS` or `CHALLENGE`'
                      enum:
                      - '"FRICTIONLESS"'
                      - '"CHALLENGE"'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"success\": true,\n    \"transaction\": {\n        \"id\": \"tr_7FPylQ0EOrLpcYw3E6OhdCEVnRCdFqoZ\",\n        \"project_id\": \"proj_IFCgGTmyClrgTOzsschN1y7GJttHVQ7S\",\n        \"customer_id\": \"cust_MFW0Z4jtoXLfADjPKlVRl5LxWkCTUgRw\",\n        \"routing_tags\": [\"route-1\", \"route-2\"],\n        \"fraud_service_results\": null,\n        \"operations\": [\n            {\n                \"id\": \"tr_op_ufSmIq7kU3bB6bVoiislmqeMNmxquzpX\",\n                \"transaction_id\": \"tr_7FPylQ0EOrLpcYw3E6OhdCEVnRCdFqoZ\",\n                \"authenticated_transaction_id\": \"8284686045\",\n                \"authorization_code\": null,\n                \"gateway_configuration_id\": \"gway_conf_c23e011db34f4bac44e051840dfa3783\",\n                \"card_id\": \"card_TVeLAxjOaiHzru3m7T1o0ZLUg6cXIQe8\",\n                \"amount\": \"29\",\n                \"amount_local\": \"31.8321371\",\n                \"currency\": \"EUR\",\n                \"is_attempt\": false,\n                \"has_failed\": false,\n                \"is_accountable\": false,\n                \"type\": \"request\",\n                \"metadata\": {\n                    \"is_sale\": \"false\"\n                },\n                \"error_code\": null,\n                \"error_message\": null,\n                \"payment_type\": \"card\",\n                \"eci\": null,\n                \"is_on_us\": null,\n                \"arn\": null,\n                \"scheme_id\": \"8284686045\",\n                \"initial_scheme_transaction_id\": \"\",\n                \"gateway_operation_id\": \"\",\n                \"gateway_data\": {\n                    \"token\": \"test-valid\"\n                },\n                \"chargeback_reason\": null,\n                \"created_at\": \"2023-04-21T20:24:43.342363262Z\",\n                \"merchant_advice_code\": null,\n                \"merchant_advice_reason\": null,\n                \"recommendation_code\": null,\n                \"recommendation_reason\": null,\n                \"challenge_indicator\": \"no-preference\",\n                \"sca_exemption_reason\": \"\"\n            },\n            {\n                \"id\": \"tr_op_FVJD7TG7tBrldTEoSRNr0uA48XQgskVZ\",\n                \"transaction_id\": \"tr_7FPylQ0EOrLpcYw3E6OhdCEVnRCdFqoZ\",\n                \"authenticated_transaction_id\": \"8284686045\",\n                \"authorization_code\": null,\n                \"gateway_configuration_id\": \"gway_conf_c23e011db34f4bac44e051840dfa3783\",\n                \"card_id\": \"card_TVeLAxjOaiHzru3m7T1o0ZLUg6cXIQe8\",\n                \"amount\": \"29\",\n                \"amount_local\": \"31.8321371\",\n                \"currency\": \"EUR\",\n                \"is_attempt\": true,\n                \"has_failed\": false,\n                \"is_accountable\": false,\n                \"type\": \"authorization\",\n                \"metadata\": {\n                    \"is_sale\": \"false\"\n                },\n                \"error_code\": null,\n                \"error_message\": null,\n                \"payment_type\": \"card\",\n                \"acquirer_name\": null,\n                \"eci\": null,\n                \"merchant_account_id\": null,\n                \"is_on_us\": null,\n                \"arn\": null,\n                \"scheme_id\": \"8284686045\",\n                \"initial_scheme_transaction_id\": \"\",\n                \"gateway_operation_id\": \"test-valid-17580cef700c691a\",\n                \"gateway_data\": {\n                    \"token\": \"test-valid\"\n                },\n                \"chargeback_reason\": null,\n                \"created_at\": \"2023-04-21T20:24:43.342417133Z\",\n                \"merchant_advice_code\": null,\n                \"merchant_advice_reason\": null,\n                \"recommendation_code\": null,\n                \"recommendation_reason\": null,\n                \"challenge_indicator\": \"no-preference\",\n                \"sca_exemption_reason\": \"\"\n            },\n            {\n                \"id\": \"tr_op_fLlh7plcTzPelsHiVRoTf6qaURfZLDTm\",\n                \"transaction_id\": \"tr_7FPylQ0EOrLpcYw3E6OhdCEVnRCdFqoZ\",\n                \"authenticated_transaction_id\": \"8284686045\",\n                \"authorization_code\": null,\n                \"gateway_configuration_id\": \"gway_conf_c23e011db34f4bac44e051840dfa3783\",\n                \"card_id\": \"card_TVeLAxjOaiHzru3m7T1o0ZLUg6cXIQe8\",\n                \"amount\": \"29\",\n                \"amount_local\": \"31.8321371\",\n                \"currency\": \"EUR\",\n                \"is_attempt\": false,\n                \"has_failed\": false,\n                \"is_accountable\": false,\n                \"type\": \"authorization\",\n                \"metadata\": {\n                    \"is_sale\": \"false\"\n                },\n                \"error_code\": null,\n                \"error_message\": null,\n                \"payment_type\": \"card\",\n                \"acquirer_name\": null,\n                \"eci\": null,\n                \"merchant_account_id\": null,\n                \"is_on_us\": null,\n                \"arn\": null,\n                \"scheme_id\": \"8284686045\",\n                \"initial_scheme_transaction_id\": \"\",\n                \"gateway_operation_id\": \"test-valid-17580cef700c691a\",\n                \"gateway_data\": {\n                    \"token\": \"test-valid\"\n                },\n                \"chargeback_reason\": null,\n                \"created_at\": \"2023-04-21T20:24:43.342463204Z\",\n                \"merchant_advice_code\": null,\n                \"merchant_advice_reason\": null,\n                \"recommendation_code\": null,\n                \"recommendation_reason\": null,\n                \"challenge_indicator\": \"no-preference\",\n                \"sca_exemption_reason\": \"\"\n            }\n        ],\n        \"name\": \"Amazing Product\",\n        \"currency\": \"EUR\",\n        \"metadata\": {\n            \"fruit\": \"banana\"\n        },\n        \"sandbox\": true,\n        \"created_at\": \"2023-04-21T20:24:37.850357Z\",\n        \"invoice_id\": \"iv_RRW65C1I2jAGiFuwhEtW5UGU1tMkBRBS\",\n        \"gateway_name\": \"sandbox\",\n        \"status\": \"authorized\",\n        \"gateway_configuration_id\": \"gway_conf_c23e011db34f4bac44e051840dfa3783\",\n        \"card_id\": \"card_TVeLAxjOaiHzru3m7T1o0ZLUg6cXIQe8\",\n        \"error_code\": null,\n        \"error_message\": null,\n        \"payment_type\": \"card\",\n        \"eci\": null,\n        \"cvc_check\": \"passed\",\n        \"avs_check\": \"passed\",\n        \"card_checks\": {\n            \"cvc_check\": \"passed\",\n            \"cvc_check_reason\": null,\n            \"avs_check\": \"passed\",\n            \"avs_postal_check\": \"passed\",\n            \"avs_postal_check_reason\": null,\n            \"avs_street_check\": \"passed\",\n            \"avs_street_check_reason\": null,\n            \"avs_name_check\": \"passed\",\n            \"avs_name_check_reason\": null\n        },\n        \"amount\": \"29\",\n        \"amount_local\": \"31.8321371\",\n        \"authorized_amount\": \"29\",\n        \"authorized_amount_local\": \"31.8321371\",\n        \"captured_amount\": \"0\",\n        \"captured_amount_local\": \"0\",\n        \"available_amount\": \"0\",\n        \"available_amount_local\": \"0\",\n        \"incremented_amount\": \"0\",\n        \"incremented_amount_local\": \"0\",\n        \"refunded_amount\": \"0\",\n        \"refunded_amount_local\": \"0\",\n        \"authorized_at\": \"2023-04-21T20:24:43.342463204Z\",\n        \"captured_at\": null,\n        \"refunded_at\": null,\n        \"voided_at\": null,\n        \"chargedback_at\": null,\n        \"received_fraud_notification\": false,\n        \"received_retrieval_request\": false,\n        \"acquirer_name\": null,\n        \"attempts_count\": 1,\n        \"authorized\": true,\n        \"captured\": false,\n        \"refunded\": false,\n        \"voided\": false,\n        \"chargedback\": false,\n        \"merchant_advice_code\": null,\n        \"merchant_advice_reason\": null,\n        \"recommendation_code\": null,\n        \"recommendation_reason\": null,\n        \"scheme_id\": \"8284686045\",\n        \"initial_scheme_transaction_id\": null,\n        \"sca\": {\n            \"scope\": \"out-of-scope\",\n            \"out_of_scope_reason\": \"mit\",\n            \"inscope_compliance\": \"not-applicable\",\n            \"challenge_result\": \"honoured\",\n            \"exemption_result\": \"no-exemption-reason-set\"\n        },\n        \"refunds\": null,\n        \"duplicate_distance_seconds\": null\n    }\n}"
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    default: true
                  transaction:
                    type: object
                    properties:
                      id:
                        type: string
                        example: tr_7FPylQ0EOrLpcYw3E6OhdCEVnRCdFqoZ
                      project_id:
                        type: string
                        example: proj_IFCgGTmyClrgTOzsschN1y7GJttHVQ7S
                      customer_id:
                        type: string
                        example: cust_MFW0Z4jtoXLfADjPKlVRl5LxWkCTUgRw
                      routing_tags:
                        type: array
                        items:
                          type: string
                          example: route-1
                      fraud_service_results: {}
                      operations:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              example: tr_op_ufSmIq7kU3bB6bVoiislmqeMNmxquzpX
                            transaction_id:
                              type: string
                              example: tr_7FPylQ0EOrLpcYw3E6OhdCEVnRCdFqoZ
                            authenticated_transaction_id:
                              type: string
                              example: '8284686045'
                            authorization_code: {}
                            gateway_configuration_id:
                              type: string
                              example: gway_conf_c23e011db34f4bac44e051840dfa3783
                            card_id:
                              type: string
                              example: card_TVeLAxjOaiHzru3m7T1o0ZLUg6cXIQe8
                            amount:
                              type: string
                              example: '29'
                            amount_local:
                              type: string
                              example: '31.8321371'
                            currency:
                              type: string
                              example: EUR
                            is_attempt:
                              type: boolean
                              example: false
                              default: true
                            has_failed:
                              type: boolean
                              example: false
                              default: true
                            is_accountable:
                              type: boolean
                              example: false
                              default: true
                            type:
                              type: string
                              example: request
                            metadata:
                              type: object
                              properties:
                                is_sale:
                                  type: string
                                  example: 'false'
                            error_code: {}
                            error_message: {}
                            payment_type:
                              type: string
                              example: card
                            eci: {}
                            is_on_us: {}
                            arn: {}
                            scheme_id:
                              type: string
                              example: '8284686045'
                            initial_scheme_transaction_id:
                              type: string
                              example: ''
                            gateway_operation_id:
                              type: string
                              example: ''
                            gateway_data:
                              type: object
                              properties:
                                token:
                                  type: string
                                  example: test-valid
                            chargeback_reason: {}
                            created_at:
                              type: string
                              example: '2023-04-21T20:24:43.342363262Z'
                            merchant_advice_code: {}
                            merchant_advice_reason: {}
                            recommendation_code: {}
                            recommendation_reason: {}
                            challenge_indicator:
                              type: string
                              example: no-preference
                            sca_exemption_reason:
                              type: string
                              example: ''
                      name:
                        type: string
                        example: Amazing Product
                      currency:
                        type: string
                        example: EUR
                      metadata:
                        type: object
                        properties:
                          fruit:
                            type: string
                            example: banana
                      sandbox:
                        type: boolean
                        example: true
                        default: true
                      created_at:
                        type: string
                        example: '2023-04-21T20:24:37.850357Z'
                      invoice_id:
                        type: string
                        example: iv_RRW65C1I2jAGiFuwhEtW5UGU1tMkBRBS
                      gateway_name:
                        type: string
                        example: sandbox
                      status:
                        type: string
                        example: authorized
                      gateway_configuration_id:
                        type: string
                        example: gway_conf_c23e011db34f4bac44e051840dfa3783
                      card_id:
                        type: string
                        example: card_TVeLAxjOaiHzru3m7T1o0ZLUg6cXIQe8
                      error_code: {}
                      error_message: {}
                      payment_type:
                        type: string
                        example: card
                      eci: {}
                      cvc_check:
                        type: string
                        example: passed
                      avs_check:
                        type: string
                        example: passed
                      card_checks:
                        type: object
                        properties:
                          cvc_check:
                            type: string
                            example: passed
                          cvc_check_reason: {}
                          avs_check:
                            type: string
                            example: passed
                          avs_postal_check:
                            type: string
                            example: passed
                          avs_postal_check_reason: {}
                          avs_street_check:
                            type: string
                            example: passed
                          avs_street_check_reason: {}
                          avs_name_check:
                            type: string
                            example: passed
                          avs_name_check_reason: {}
                      amount:
                        type: string
                        example: '29'
                      amount_local:
                        type: string
                        example: '31.8321371'
                      authorized_amount:
                        type: string
                        example: '29'
                      authorized_amount_local:
                        type: string
                        example: '31.8321371'
                      captured_amount:
                        type: string
                        example: '0'
                      captured_amount_local:
                        type: string
                        example: '0'
                      available_amount:
                        type: string
                        example: '0'
                      available_amount_local:
                        type: string
                        example: '0'
                      incremented_amount:
                        type: string
                        example: '0'
                      incremented_amount_local:
                        type: string
                        example: '0'
                      refunded_amount:
                        type: string
                        example: '0'
                      refunded_amount_local:
                        type: string
                        example: '0'
                      authorized_at:
                        type: string
                        example: '2023-04-21T20:24:43.342463204Z'
                      captured_at: {}
                      refunded_at: {}
                      voided_at: {}
                      chargedback_at: {}
                      received_fraud_notification:
                        type: boolean
                        example: false
                        default: true
                      received_retrieval_request:
                        type: boolean
                        example: false
                        default: true
                      acquirer_name: {}
                      attempts_count:
                        type: integer
                        example: 1
                        default: 0
                      authorized:
                        type: boolean
                        example: true
                        default: true
                      captured:
                        type: boolean
                        example: false
                        default: true
                      refunded:
                        type: boolean
                        example: false
                        default: true
                      voided:
                        type: boolean
                        example: false
                        default: true
                      chargedback:
                        type: boolean
                        example: false
                        default: true
                      merchant_advice_code: {}
                      merchant_advice_reason: {}
                      recommendation_code: {}
                      recommendation_reason: {}
                      scheme_id:
                        type: string
                        example: '8284686045'
                      initial_scheme_transaction_id: {}
                      sca:
                        type: object
                        properties:
                          scope:
                            type: string
                            example: out-of-scope
                          out_of_scope_reason:
                            type: string
                            example: mit
                          inscope_compliance:
                            type: string
                            example: not-applicable
                          challenge_result:
                            type: string
                            example: honoured
                          exemption_result:
                            type: string
                            example: no-exemption-reason-set
                      refunds: {}
                      duplicate_distance_seconds: {}
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"success\": false,\n    \"message\": \"Could not read your project ID. Please make sure to use Basic HTTP authentication using your project ID as the username. If you have any questions, feel free to ask for help at help@processout.com!\",\n    \"error_type\": \"request.authentication.invalid\"\n}"
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                    default: true
                  message:
                    type: string
                    example: Could not read your project ID. Please make sure to use Basic HTTP authentication using your project ID as the username. If you have any questions, feel free to ask for help at help@processout.com!
                  error_type:
                    type: string
                    example: request.authentication.invalid
        '404':
          description: '404'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"error_type\": \"resource.invoice.not-found\",\n    \"message\": \"The invoice could not be found.\",\n    \"success\": false\n}"
              schema:
                type: object
                properties:
                  error_type:
                    type: string
                    example: resource.invoice.not-found
                  message:
                    type: string
                    example: The invoice could not be found.
                  success:
                    type: boolean
                    example: false
                    default: true
        '410':
          description: '410'
          content:
            application/json:
              examples:
                Transaction error:
                  value: "{\n    \"error_type\": \"card.do-not-honor\",\n    \"message\": \"The bank has returned a do-not-honor error\",\n    \"success\": false\n}"
              schema:
                type: object
                properties:
                  error_type:
                    type: string
                    example: card.do-not-honor
                  message:
                    type: string
                    example: The bank has returned a do-not-honor error
                  success:
                    type: boolean
                    example: false
                    default: true
        4XX:
          description: 4XX
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"error_type\": \"*Error code*\",\n    \"message\": \"*Error message*\",\n    \"success\": false\n}"
              schema:
                type: object
                properties:
                  error_type:
                    type: string
                    example: '*Error code*'
                  message:
                    type: string
                    example: '*Error message*'
                  success:
                    type: boolean
                    example: false
                    default: true
      x-readme:
        code-samples:
        - language: node
          code: "var ProcessOut = require(\"processout\");\nvar client = new ProcessOut(\n    \"test-proj_gAO1Uu0ysZJvDuUpOGPkUBeE3pGalk3x\",\n    \"key_sandbox_mah31RDFqcDxmaS7MvhDbJfDJvjtsFTB\");\n\n// The source could also be a token tok_fKK4btSG7wd13ZZaevzhMcuNbpjcu1Zy\ninvoice.authorize(\"card_1jSEVrx7oaRta1KEdxoMWbiGkK2MijrZ\", {\n    // optional if you want us to auto capture for you\n    \"auto_capture_at\": \"2022-10-02T15:00:00Z\"\n}).then(\n    function(transaction) {\n        // The invoice was authorized and returned a transaction\n\n    }, function(err) {\n        // The invoice could not be authorized\n    });"
          name: node.js
        - language: python
          code: "import processout\nclient = processout.ProcessOut(\n    \"test-proj_gAO1Uu0ysZJvDuUpOGPkUBeE3pGalk3x\", \n    \"key_sandbox_mah31RDFqcDxmaS7MvhDbJfDJvjtsFTB\")\n\n# The source could also be a token tok_fKK4btSG7wd13ZZaevzhMcuNbpjcu1Zy\ntransaction = invoice.authorize(\"card_1jSEVrx7oaRta1KEdxoMWbiGkK2MijrZ\", {\n    # optional if you want us to auto capture for you\n    \"auto_capture_at\": \"2022-10-02T15:00:00Z\"\n})"
        - language: ruby
          code: "require \"processout\"\nclient = ProcessOut::Client.new(\n    \"test-proj_gAO1Uu0ysZJvDuUpOGPkUBeE3pGalk3x\", \n    \"key_sandbox_mah31RDFqcDxmaS7MvhDbJfDJvjtsFTB\")\n\n# The source could also be a token tok_fKK4btSG7wd13ZZaevzhMcuNbpjcu1Zy\ntransaction = invoice.authorize(\"card_1jSEVrx7oaRta1KEdxoMWbiGkK2MijrZ\", (\n    # optional if you want us to auto capture for you\n    auto_capture_at: \"2022-10-02T15:00:00Z\"\n))"
        - language: php
          code: "<?php\n$client = new \\ProcessOut\\ProcessOut(\n    \"test-proj_gAO1Uu0ysZJvDuUpOGPkUBeE3pGalk3x\", \n    \"key_sandbox_mah31RDFqcDxmaS7MvhDbJfDJvjtsFTB\");\n\n// The source could also be a token tok_fKK4btSG7wd13ZZaevzhMcuNbpjcu1Zy\n$transaction = $invoice->authorize(\"card_1jSEVrx7oaRta1KEdxoMWbiGkK2MijrZ\", array(\n    // optional if you want us to auto capture for you\n    \"auto_capture_at\" => \"2022-10-02T15:00:00Z\"\n));"
        - language: go
          code: "import \"github.com/processout/processout-go\"\n\nvar client = processout.New(\n    \"test-proj_gAO1Uu0ysZJvDuUpOGPkUBeE3pGalk3x\", \n    \"key_sandbox_mah31RDFqcDxmaS7MvhDbJfDJvjtsFTB\",\n)\n\n// The source could also be a token tok_fKK4btSG7wd13ZZaevzhMcuNbpjcu1Zy\ntr, _ := iv.Authorize(\"card_1jSEVrx7oaRta1KEdxoMWbiGkK2MijrZ\", InvoiceAuthorizeParameters{\n    AutoCaptureAt: \"2022-10-02T15:00:00Z\",\n})"
        samples-languages:
        - node
        - python
        - ruby
        - php
        - go
      tags:
      - Invoices
  /invoices/{invoice_id}/capture:
    post:
      summary: Capture an invoice
      description: ''
      operationId: capture-an-invoice
      parameters:
      - name: Idempotency-Key
        in: header
        description: Unique key to your request that will be used for idempotency
        schema:
          type: string
      - name: invoice_id
        in: path
        description: The invoice ID generated by ProcessOut during the invoice creation
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                source:
                  type: string
                  description: Source used to capture the payment. Can be a card, a token or a gateway request.
                invoice_detail_ids:
                  type: array
                  description: Array of invoice details created with the invoice to capture.<br>_Only supported on compatible payment providers_
                  items:
                    type: string
                capture_amount:
                  type: string
                  description: Amount to capture partially the transaction
                capture_statement_descriptor:
                  type: string
                  description: Some payment providers are supporting different statement descriptor for the capture. Use this field to send a different one. By default, the one sent during the authorization will be forwarded.
                initial_scheme_transaction_id:
                  type: string
                  description: Override the scheme ID
                split_allocations:
                  type: array
                  items:
                    properties:
                      provider_recipient_reference:
                        type: string
                        description: The unique identifier for the recipient's account. This is the destination account that will receive this portion of the funds.
                      type:
                        type: string
                        description: Defines the purpose of the split. It determines how the funds are categorized and processed.
                        enum:
                        - PURCHASE
                        - VAT
                        - FEE
                        - COMMISSION
                        - MARKETPLACE
                        - SHIPPING
                      amount:
                        type: string
                        description: The specific amount of money for this individual split. Maximum 4 decimal places supported as per ISO 4217.
                      currency:
                        type: string
                        description: Currency for payment of the individual split, in ISO 4217 format (for example, USD). Must be a valid ISO 4217 currency code with 3 characters
                      description:
                        type: string
                        description: A short, human-readable description for this split. This description will appear in transaction reports and can be useful for reconciliation.
                      payment_reference:
                        type: string
                        description: Your own unique reference ID for this specific split. Providing a unique reference is critical for tracking the status of each individual split via webhooks and for reconciling your accounts. Recommended to include.
                    type: object
                    required:
                    - provider_recipient_reference
                    - type
                    - amount
                    - currency
                  description: An array of allocation objects that defines how the capture payment should be divided among different recipients. Each object in this array represents one "split" of the total invoice amount. This object will override the invoice's default split allocations.
                capture_type:
                  type: string
                  description: 'Whether this partial capture is "final" or "non-final". '
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"success\": true,\n    \"transaction\": {\n        \"id\": \"tr_6uooTOHO71Fq0wysK8FpxBH6t45SEBrg\",\n        \"project_id\": \"proj_IFCgGTmyClrgTOzsschN1y7GJttHVQ7S\",\n        \"customer_id\": \"cust_MFW0Z4jtoXLfADjPKlVRl5LxWkCTUgRw\",\n        \"routing_tags\": [\n            \"rule-2-route\",\n            \"GB1\",\n            \"rule-3-dynamic_3ds\",\n            \"country == FR\",\n            \"currency == EUR\",\n            \"card_last4 == 0001\",\n            \"rule-4-dynamic_3ds\",\n            \"card_country == FR\",\n            \"currency == EUR\",\n            \"amount > 30\",\n            \"rule-5-dynamic_3ds\",\n            \"card_country == FR\",\n            \"currency == EUR\",\n            \"amount > 30\"\n        ],\n        \"fraud_service_results\": null,\n        \"operations\": null,\n        \"name\": \"Amazing Product\",\n        \"currency\": \"EUR\",\n        \"details\": {\n            \"country\": \"GB\"\n        },\n        \"metadata\": {\n            \"fruit\": \"banana\"\n        },\n        \"sandbox\": true,\n        \"created_at\": \"2023-04-21T20:33:21.000245Z\",\n        \"invoice_id\": \"iv_YGmmz4fijVppMTtwX3nwDQHeojCsNLB4\",\n        \"gateway_name\": \"sandbox\",\n        \"status\": \"voided\",\n        \"three_d_s_status\": \"unchecked\",\n        \"three_d_s_version\": null,\n        \"gateway_configuration_id\": \"gway_conf_c23e011db34f4bac44e051840dfa3783\",\n        \"token_id\": null,\n        \"card_id\": \"card_4blVmiFfRqXokRuAT2YcSE3pbaX5fdYi\",\n        \"error_code\": null,\n        \"error_message\": null,\n        \"three_d_s\": null,\n        \"payment_type\": \"card\",\n        \"eci\": null,\n        \"mcc\": null,\n        \"merchant_account_id\": null,\n        \"cvc_check\": \"passed\",\n        \"avs_check\": \"passed\",\n        \"card_checks\": {\n            \"cvc_check\": \"passed\",\n            \"cvc_check_reason\": null,\n            \"avs_check\": \"passed\",\n            \"avs_postal_check\": \"passed\",\n            \"avs_postal_check_reason\": null,\n            \"avs_street_check\": \"passed\",\n            \"avs_street_check_reason\": null,\n            \"avs_name_check\": \"passed\",\n            \"avs_name_check_reason\": null\n        },\n        \"amount\": \"29\",\n        \"amount_local\": \"31.83\",\n        \"authorized_amount\": \"29\",\n        \"authorized_amount_local\": \"31.83\",\n        \"captured_amount\": \"0\",\n        \"captured_amount_local\": \"0\",\n        \"available_amount\": \"0\",\n        \"available_amount_local\": \"0\",\n        \"incremented_amount\": \"0\",\n        \"incremented_amount_local\": \"0\",\n        \"refunded_amount\": \"0\",\n        \"refunded_amount_local\": \"0\",\n        \"currency_fee\": null,\n        \"gateway_fee\": \"0\",\n        \"gateway_fee_local\": \"0\",\n        \"authorized_at\": \"2023-04-21T20:33:26.027707Z\",\n        \"captured_at\": null,\n        \"refunded_at\": null,\n        \"voided_at\": \"2023-04-21T20:33:28.802301Z\",\n        \"chargedback_at\": null,\n        \"received_fraud_notification\": false,\n        \"received_retrieval_request\": false,\n        \"acquirer_name\": null,\n        \"attempts_count\": 1,\n        \"authorized\": true,\n        \"captured\": false,\n        \"refunded\": false,\n        \"voided\": true,\n        \"chargedback\": false,\n        \"merchant_advice_code\": null,\n        \"merchant_advice_reason\": null,\n        \"recommendation_code\": null,\n        \"recommendation_reason\": null,\n        \"scheme_id\": \"363823005\",\n        \"initial_scheme_transaction_id\": null,\n        \"sca\": null,\n        \"subscription_cycle\": null,\n        \"error_recommendations\": [],\n        \"gateway_fee_details\": {\n            \"processing_fee\": \"0\",\n            \"exchange_fee\": \"0\",\n            \"refund_fee\": \"0\",\n            \"interchange_fee\": \"0\",\n            \"scheme_fee\": \"0\",\n            \"markup_fee\": \"0\",\n            \"interchange_fee_estimate\": \"0\",\n            \"scheme_fee_estimate\": \"0\"\n        },\n        \"estimated_fee\": \"1.17\",\n        \"refunds\": null,\n        \"buyer\": {\n            \"name\": \"\",\n            \"email\": \"\",\n            \"address\": \"\",\n            \"phone\": \"\"\n        },\n        \"is_on_us\": null,\n        \"processout_fee\": \"0\",\n        \"subscription_id\": null,\n        \"duplicate_distance_seconds\": null\n    }\n}"
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    default: true
                  transaction:
                    type: object
                    properties:
                      id:
                        type: string
                        example: tr_6uooTOHO71Fq0wysK8FpxBH6t45SEBrg
                      project_id:
                        type: string
                        example: proj_IFCgGTmyClrgTOzsschN1y7GJttHVQ7S
                      customer_id:
                        type: string
                        example: cust_MFW0Z4jtoXLfADjPKlVRl5LxWkCTUgRw
                      routing_tags:
                        type: array
                        items:
                          type: string
                          example: rule-2-route
                      fraud_service_results: {}
                      operations: {}
                      name:
                        type: string
                        example: Amazing Product
                      currency:
                        type: string
                        example: EUR
                      details:
                        type: object
                        properties:
                          country:
                            type: string
                            example: GB
                      metadata:
                        type: object
                        properties:
                          fruit:
                            type: string
                            example: banana
                      sandbox:
                        type: boolean
                        example: true
                        default: true
                      created_at:
                        type: string
                        example: '2023-04-21T20:33:21.000245Z'
                      invoice_id:
                        type: string
                        example: iv_YGmmz4fijVppMTtwX3nwDQHeojCsNLB4
                      gateway_name:
                        type: string
                        example: sandbox
                      status:
                        type: string
                        example: voided
                      three_d_s_status:
                        type: string
                        example: unchecked
                      three_d_s_version: {}
                      gateway_configuration_id:
                        type: string
                        example: gway_conf_c23e011db34f4bac44e051840dfa3783
                      token_id: {}
                      card_id:
                        type: string
                        example: card_4blVmiFfRqXokRuAT2YcSE3pbaX5fdYi
                      error_code: {}
                      error_message: {}
                      three_d_s: {}
                      payment_type:
                        type: string
                        example: card
                      eci: {}
                      mcc: {}
                      merchant_account_id: {}
                      cvc_check:
                        type: string
                        example: passed
                      avs_check:
                        type: string
                        example: passed
                      card_checks:
                        type: object
                        properties:
                          cvc_check:
                            type: string
                            example: passed
                          cvc_check_reason: {}
                          avs_check:
                            type: string
                            example: passed
                          avs_postal_check:
                            type: string
                            example: passed
                          avs_postal_check_reason: {}
                          avs_street_check:
                            type: string
                            example: passed
                          avs_street_check_reason: {}
                          avs_name_check:
                            type: string
                            example: passed
                          avs_name_check_reason: {}
                      amount:
                        type: string
                        example: '29'
                      amount_local:
                        type: string
                        example: '31.83'
                      authorized_amount:
                        type: string
                        example: '29'
                      authorized_amount_local:
                        type: string
                        example: '31.83'
                      captured_amount:
                        type: string
                        example: '0'
                      captured_amount_local:
                        type: string
                        example: '0'
                      available_amount:
                        type: string
                        example: '0'
                      available_amount_local:
                        type: string
                        example: '0'
                      incremented_amount:
                        type: string
                        example: '0'
                      incremented_amount_local:
                        type: string
                        example: '0'
                      refunded_amount:
                        type: string
                        example: '0'
                      refunded_amount_local:
                        type: string
                        example: '0'
                      currency_fee: {}
                      gateway_fee:
                        type: string
                        example: '0'
                      gateway_fee_local:
                        type: string
                        example: '0'
                      authorized_at:
                        type: string
                        example: '2023-04-21T20:33:26.027707Z'
                      captured_at: {}
                      refunded_at: {}
                      voided_at:
                        type: string
                        example: '2023-04-21T20:33:28.802301Z'
                      chargedback_at: {}
                      received_fraud_notification:
                        type: boolean
                        example: false
                        default: true
                      received_retrieval_request:
                        type: boolean
                        example: false
                        default: true
                      acquirer_name: {}
                      attempts_count:
                        type: integer
                        example: 1
                        default: 0
                      authorized:
                        type: boolean
                        example: true
                        default: true
                      captured:
                        type: boolean
                        example: false
                        default: true
                      refunded:
                        type: boolean
                        example: false
                        default: true
                      voided:
                        type: boolean
                        example: true
                        default: true
                      chargedback:
                        type: boolean
                        example: false
                        default: true
                      merchant_advice_code: {}
                      merchant_advice_reason: {}
                      recommendation_code: {}
                      recommendation_reason: {}
                      scheme_id:
                        type: string
                        example: '363823005'
                      initial_scheme_transaction_id: {}
                      sca: {}
                      subscription_cycle: {}
                      error_recommendations:
                        type: array
                      gateway_fee_details:
                        type: object
                        properties:
                          processing_fee:
                            type: string
                            example: '0'
                          exchange_fee:
                            type: string
                            example: '0'
                          refund_fee:
                            type: string
                            example: '0'
                          interchange_fee:
                            type: string
                            example: '0'
                          scheme_fee:
                            type: string
                            example: '0'
                          markup_fee:
                            type: string
                            example: '0'
                          interchange_fee_estimate:
                            type: string
                            example: '0'
                          scheme_fee_estimate:
                            type: string
                            example: '0'
                      estimated_fee:
                        type: string
                        example: '1.17'
                      refunds: {}
                      buyer:
                        type: object
                        properties:
                          name:
                            type: string
                            example: ''
                          email:
                            type: string
                            example: ''
                          address:
                            type: string
                            example: ''
                          phone:
                            type: string
                            example: ''
                      is_on_us: {}
                      processout_fee:
                        type: string
                        example: '0'
                      subscription_id: {}
                      duplicate_distance_seconds: {}
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"success\": false,\n    \"message\": \"Could not read your project ID. Please make sure to use Basic HTTP authentication using your project ID as the username. If you have any questions, feel free to ask for help at help@processout.com!\",\n    \"error_type\": \"request.authentication.invalid\"\n}"
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                    default: true
                  message:
                    type: string
                    example: Could not read your project ID. Please make sure to use Basic HTTP authentication using your project ID as the username. If you have any questions, feel free to ask for help at help@processout.com!
                  error_type:
                    type: string
                    example: request.authentication.invalid
        '404':
          description: '404'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"error_type\": \"resource.invoice.not-found\",\n    \"message\": \"The invoice could not be found.\",\n    \"success\": false\n}"
              schema:
                type: object
                properties:
                  error_type:
                    type: string
                    example: resource.invoice.not-found
                  message:
                    type: string
                    example: The invoice could not be found.
                  success:
                    type: boolean
                    example: false
                    default: true
        '410':
          description: '410'
          content:
            application/json:
              examples:
                Transaction error:
                  value: "{\n    \"error_type\": \"card.do-not-honor\",\n    \"message\": \"The bank has returned a do-not-honor error\",\n    \"success\": false\n}"
              schema:
                type: object
                properties:
                  error_type:
                    type: string
                    example: card.do-not-honor
                  message:
                    type: string
                    example: The bank has returned a do-not-honor error
                  success:
                    type: boolean
                    example: false
                    default: true
        4XX:
          description: 4XX
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"error_type\": \"*Error code*\",\n    \"message\": \"*Error message*\",\n    \"success\": false\n}"
              schema:
                type: object
                properties:
                  error_type:
                    type: string
                    example: '*Error code*'
                  message:
                    type: string
                    example: '*Error message*'
                  success:
                    type: boolean
                    example: false
                    default: true
      deprecated: false
      x-readme:
        code-samples:
        - language: node
          code: "var ProcessOut = require(\"processout\");\nvar client = new ProcessOut(\n    \"test-proj_gAO1Uu0ysZJvDuUpOGPkUBeE3pGalk3x\",\n    \"key_sandbox_mah31RDFqcDxmaS7MvhDbJfDJvjtsFTB\");\n\n// The source could also be a token tok_fKK4btSG7wd13ZZaevzhMcuNbpjcu1Zy\ninvoice.capture(\"card_1jSEVrx7oaRta1KEdxoMWbiGkK2MijrZ\").then(\n    function(transaction) {\n        // The invoice was captured and returned a transaction\n\n    }, function(err) {\n        // The invoice could not be captured\n    });"
          name: node.js
        - language: python
          code: "import processout\nclient = processout.ProcessOut(\n    \"test-proj_gAO1Uu0ysZJvDuUpOGPkUBeE3pGalk3x\", \n    \"key_sandbox_mah31RDFqcDxmaS7MvhDbJfDJvjtsFTB\")\n\n# The source could also be a token tok_fKK4btSG7wd13ZZaevzhMcuNbpjcu1Zy\ntransaction = invoice.capture(\"card_1jSEVrx7oaRta1KEdxoMWbiGkK2MijrZ\")"
        - language: ruby
          code: "require \"processout\"\nclient = ProcessOut::Client.new(\n    \"test-proj_gAO1Uu0ysZJvDuUpOGPkUBeE3pGalk3x\", \n    \"key_sandbox_mah31RDFqcDxmaS7MvhDbJfDJvjtsFTB\")\n\n# The source could also be a token tok_fKK4btSG7wd13ZZaevzhMcuNbpjcu1Zy\ntransaction = invoice.capture(\"card_1jSEVrx7oaRta1KEdxoMWbiGkK2MijrZ\")"
        - language: php
          code: "import \"github.com/processout/processout-go\"\n\nvar client = processout.New(\n    \"test-proj_gAO1Uu0ysZJvDuUpOGPkUBeE3pGalk3x\", \n    \"key_sandbox_mah31RDFqcDxmaS7MvhDbJfDJvjtsFTB\",\n)\n\n// The source could also be a token tok_fKK4btSG7wd13ZZaevzhMcuNbpjcu1Zy\ntr, _ := iv.Capture(\"card_1jSEVrx7oaRta1KEdxoMWbiGkK2MijrZ\")"
        - language: go
          code: "import \"github.com/processout/processout-go\"\n\nvar client = processout.New(\n    \"test-proj_gAO1Uu0ysZJvDuUpOGPkUBeE3pGalk3x\", \n    \"key_sandbox_mah31RDFqcDxmaS7MvhDbJfDJvjtsFTB\",\n)\n\n// The source could also be a token tok_fKK4btSG7wd13ZZaevzhMcuNbpjcu1Zy\ntr, _ := iv.Authorize(\"card_1jSEVrx7oaRta1KEdxoMWbiGkK2MijrZ\", InvoiceAuthorizeParameters{\n    AutoCaptureAt: \"2022-10-02T15:00:00Z\",\n})"
        samples-languages:
        - node
        - python
        - ruby
        - php
        - go
      tags:
      - Invoices
  /invoices:
    post:
      summary: Create an invoice
      description: ''
      operationId: create-an-invoice
      parameters:
      - name: Idempotency-Key
        in: header
        description: Unique key to your request that will be used for idempotency
        schema:
          type: string
      - in: header
        name: ''
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - amount
              - currency
              properties:
                name:
                  type: string
                  description: Name of the invoice (often an internal ID code from the merchant’s systems).
                amount:
                  type: string
                  description: Amount to be paid. Maximum 4 decimal places supported as per ISO 4217.
                tax:
                  type: object
                  description: Tax information for the invoice.
                  properties:
                    amount:
                      type: string
                      description: Amount is zero or a positive number representing the tax included in the amount.
                    rate:
                      type: string
                      description: Rate is a percentage (0 to 100) representing the rate of tax included in the amount.
                currency:
                  type: string
                  description: Currency for payment of the invoice, in ISO 4217 format (for example, USD). Must be a valid ISO 4217 currency code with 3 characters
                order_id:
                  type: string
                  description: Your unique identifier for the order associated with this invoice. This field is displayed in the Dashboard and ProcessOut uses it to deduplicate invoices and transactions.
                customer_id:
                  type: string
                  description: '**_Resource expandable_**<br>Customer linked to the invoice (generally the one making the purchase).'
                verification:
                  type: boolean
                  description: Tags an invoice to be used as an verification invoice. When this is set to true, we will attempt to automatically utilise the lowest amount applicable for a given PSP & Currency. Otherwise, we will default to utilising the invoice amount provided.
                expires_at:
                  type: string
                  description: Expiry date for the invoice
                  format: date
                auto_capture_at:
                  type: string
                  description: Optional if you want us to auto capture for you. Expected value is a date and time in RFC 3339 format. (UTC only such as "2026-05-11T17:33:00Z". Timezone offset will get stripped)
                  format: date
                details:
                  type: object
                  description: Details of the items or products that are being purchased.
                  required:
                  - name
                  - amount
                  properties:
                    name:
                      type: string
                      description: Name of the item or product, which represents an item on a receipt.<br>_Maximum 80 characters long_
                    amount:
                      type: string
                      description: Amount charged for this item or product.
                    type:
                      type: string
                      description: Item or product type. Set this to anything suitable.<br>_Maximum 30 characters long_
                    quantity:
                      type: integer
                      description: Quantity of the item or product. Default value is 1.
                      format: int32
                      default: ''
                    metadata:
                      type: object
                      description: Metadata related to the invoice detail, in the form of key-value pairs (string - string).
                      properties: {}
                    category:
                      type: string
                      description: Category of the item or product. Can be `food`, `entertainment`, `home`, `appliance`, `bidding`, `gift`, `technology`, `media`, `communication`, `health`, `sport`, `personal-service`, `professional-service`, `clothing`, `travel`, `tickets`, `transport` or `other`.
                    reference:
                      type: string
                      description: Reference of the item or product.<br>_Maximum 255 characters long_
                    description:
                      type: string
                      description: Description of the item or product.<br>_Maximum 255 characters long_
                    brand:
                      type: string
                      description: Brand of the item or product.<br>_Maximum 80 characters long_
                    model:
                      type: string
                      description: Model of the item or product.<br>_Maximum 80 characters long_
                    discount_amount:
                      type: string
                      description: Discount amount (when the discount is listed as a separate item on a receipt).
                    condition:
                      type: string
                      description: Condition of the product. Can be `new`, `refurbished`, `used` or `other`.
                    marketplace_merchant:
                      type: string
                      description: Marketplace merchant ID of the item or product.
                    marketplace_merchant_is_business:
                      type: boolean
                      description: Denotes whether or not the marketplace merchant is a business.
                    marketplace_merchant_created_at:
                      type: string
                      description: Date and time when the merchant was created.<br>_RFC1123 date or timestamp_
                      format: date
                    name1:
                      type: string
                    name2:
                      type: string
                risk:
                  type: object
                  description: Risk assessment for the invoice.
                  properties:
                    score:
                      type: string
                      description: Scoring of the invoice. No validation done on this field because it is used to forward risk information to compatible payment providers.<br>_Maximum 12 characters long_
                    is_legit:
                      type: boolean
                      description: Denotes whether or not the invoice is legitimate.
                    skip_gateway_rules:
                      type: boolean
                      description: Flag to skip payment gateway fraud engine rules. (This is only available on certain compatible gateways. Contact us for more information.)
                device:
                  type: object
                  description: Information about the device and channel used by the customer to initiate the payment.
                  properties:
                    id:
                      type: string
                      description: ID of the device. This can be anything but would usually be a UUID generated by a third-party anti-fraud solution.<br>_Maximum 100 characters long_
                    threeds_sdk:
                      type: string
                      description: "Denotes if using a native experience for 3DS via SDKs e.g. Mobile 3DS SDK, or ProcessOut.JS SDK. If `ios` or `android` is provided, we will assume you can handle 3DS via native mobile SDK implementations. \n\nCan be `web`, `ios` or `android`."
                      default: ''
                    platform:
                      type: string
                      description: 'An informative field denoting the device platform used for the transaction.


                        Can be `web`, `ios`, `android` or `other`.'
                    ip_address:
                      type: string
                      description: IP address of the device.<br>_Must be a valid IP address_
                external_fraud_tools:
                  type: object
                  description: Information to forward to external fraud tools.
                  properties:
                    forter:
                      type: string
                      description: Information for the Forter fraud prevention service.
                      format: json
                    signifyd:
                      type: string
                      description: Information for the Signifyd fraud prevention service.
                      format: json
                    ravelin:
                      type: string
                      description: Information for the Ravelin fraud prevention service.
                      format: json
                shipping:
                  type: object
                  description: Shipping information for the invoice.
                  properties:
                    amount:
                      type: string
                      description: Amount charged for shipping.
                    method:
                      type: string
                      description: Delivery method. Can be `web`, `collect-at-shop`, `relay`, `travel-station`, `home`, `shipping`, `locker` or `other`.
                    provider:
                      type: string
                      description: Delivery provider.<br>_Maximum 32 characters long_
                    delay:
                      type: string
                      description: Shipment delay. Can be `express`, `priority`, `standard` or `other`.
                    address1:
                      type: string
                      description: First line of the delivery address.<br>_Maximum 255 characters long_
                    address2:
                      type: string
                      description: Second line of the delivery address.<br>_Maximum 255 characters long_
                    state:
                      type: string
                      description: State or county of the delivery address.<br>_Maximum 80 characters long_
                    city:
                      type: string
                      description: City of the delivery address.<br>_Maximum 80 characters long_
                    country_code:
                      type: string
                      description: Country code (`US`, `FR`...) of the delivery address.<br>_Must be a valid ISO 3166 country code with 2 characters_
                    zip:
                      type: string
                      description: ZIP code of the delivery address.<br>_Maximum 16 characters long_
                    phone_number:
                      type: object
                      description: Phone number of the shipment recipient
                      properties: {}
                    expects_shipping_at:
                      type: string
                      description: Expected date of delivery.<br>_RFC1123 date or timestamp_
                      format: date
                    relay_store_name:
                      type: string
                      description: Name of the store that the order must be collected from.<br>_Maximum 100 characters long_
                    email:
                      type: string
                      description: Shipping email address.<br>_Must be a valid email_
                    first_name:
                      type: string
                      description: First name of the shipping address.<br>_Maximum 80 characters long. Automatically sanitised on write — emoji, currency symbols, and non-printable characters are stripped, and underscores are converted to spaces. All Unicode scripts are supported._
                    last_name:
                      type: string
                      description: Last name of the shipping address.<br>_Maximum 80 characters long. Automatically sanitised on write — emoji, currency symbols, and non-printable characters are stripped, and underscores are converted to spaces. All Unicode scripts are supported._
                billing:
                  type: object
                  description: Billing information for the invoice. This address will be used to populate the Customer and Card address if empty.
                  properties:
                    address1:
                      type: string
                      description: First line of the billing address.<br/>_Maximum 255 characters long_
                    address2:
                      type: string
                      description: Second line of the billing address.<br/>_Maximum 255 characters long_
                    state:
                      type: string
                      description: State or county of the billing address.<br/>_Maximum 80 characters long_
                    city:
                      type: string
                      description: City of the billing address.<br/>_Maximum 80 characters long_
                    country_code:
                      type: string
                      description: Country code (`US`, `FR`...) of the address.
                    zip:
                      type: string
                      description: ZIP code of the address.<br/>_Maximum 16 characters long_
                statement_descriptor:
                  type: string
                  description: Item that will be listed for this purchase on the customer’s bank statement.<br>_Maximum 25 characters long, should only contain letters, numbers, spaces, dots, asterisks and forward slashes_
                statement_descriptor_phone:
                  type: string
                  description: Support phone number for this purchase on the customer’s bank statement.
                statement_descriptor_city:
                  type: string
                  description: City shown for this purchase on the customer’s bank statement. Maximum 22 characters long. Should only contain letters and numbers.
                statement_descriptor_company:
                  type: string
                  description: Your company name to show on the customer’s bank statement.
                statement_descriptor_url:
                  type: string
                  description: Support URL for this purchase on the customer’s bank statement.
                initiation_type:
                  type: string
                  description: 'Represent the initiation type of the transaction which can be Customer Initiated Transaction (`cit`) or Merchant Initiated Transaction (`mit`).<br>_Allowed values are: `cit` or `mit`_'
                payment_intent:
                  type: string
                  description: 'The type of payment flow that generated the transaction.<br>_Allowed values are: `one-off`, `recurring`, `recurring-standing-order`, `recurring-subscription`, `installment`, `unscheduled`, `unscheduled-delayed-charge`, `unscheduled-resubmission`, `unscheduled-no-show` or `unscheduled-reauthorization`_. <br><br>This field should be used in combination with the `initiation_type` field to tag scenarios such as initial CIT of a recurring sequence.'
                payment_type:
                  type: string
                  description: Optional information about the payment type<br>_Allowed values are “moto” or “ecommerce”_
                return_url:
                  type: string
                  description: For [APMs](../docs/alternative-payment-methods), this is the URL to return to the app after payment is accepted.<br>_Must be a valid URL_
                webhook_url:
                  type: string
                  description: Custom [webhook](/webhooks) URL for this purchase.<br>_Must be a valid URL_
                sca_exemption_reason:
                  type: string
                  description: 'Optional reason for requesting SCA exemption (Note: This must also be supported by the PSP. Please contact us for more information.)<br>_Allowed values are: `low-value`, `trusted-beneficiary` or `transaction-risk-analysis`_'
                challenge_indicator:
                  type: string
                  description: 'Optional challenge indicator field when requesting 3DS2 (Note: This must also be supported by the PSP. Please contact us for more information.)<br>_Allowed values are: `no-preference`, `no-challenge-requested`, `challenge-requested`, `challenge-requested-mandate`, `no-challenge-requested-tra-performed`, `no-challenge-requested-data-share-only`, `no-challenge-requested-sca-performed`, `no-challenge-requested-whitelist-exemption`, `challenge-requested-whitelist-prompt` or `cb-scoring`_'
                unsupported_feature_bypass:
                  type: object
                  description: Bypass payment provider unsupported features set in the transaction
                  properties:
                    incremental_authorization:
                      type: boolean
                      description: Ignore incremental authorization requests on PSP that do not support it
                      default: false
                    split_payments:
                      type: boolean
                      description: Ignore split requests on PSP that do not support it
                      default: 'false'
                metadata:
                  type: string
                  description: Custom key/value pair (string/string) metadata that can be used to identify the transaction. This information is passed to upstream payment providers that support similar metadata objects. Do not include personal data in this field.
                  default: '{}'
                  format: json
                gateway_data:
                  type: string
                  description: Used for custom logics / data sent to payment providers.<br>This field <b>is not standard</b> across providers.
                  default: '{}'
                  format: json
                split_allocations:
                  type: array
                  items:
                    properties:
                      provider_recipient_reference:
                        type: string
                        description: The unique identifier for the recipient's account. This is the destination account that will receive this portion of the funds.
                      type:
                        type: string
                        description: Defines the purpose of the split. It determines how the funds are categorized and processed.
                        enum:
                        - PURCHASE
                        - FEE
                        - VAT
                        - COMMISSION
                        - MARKETPLACE
                        - SHIPPING
                      amount:
                        type: string
                        description: The specific amount of money for this individual split. Maximum 4 decimal places supported as per ISO 4217.
                      currency:
                        type: string
                        description: Currency for payment of the individual split, in ISO 4217 format (for example, USD). Must be a valid ISO 4217 currency code with 3 characters
                      description:
                        type: string
                        description: A short, human-readable description for this split. This description will appear in transaction reports and can be useful for reconciliation.
                      payment_reference:
                        type: string
                        description: Your own unique reference ID for this specific split. Providing a unique reference is critical for tracking the status of each individual split via webhooks and for reconciling your accounts. Recommended to include.
                    type: object
                    required:
                    - provider_recipient_reference
                    - type
                    - amount
                    - currency
                  description: An array of allocation objects that defines how a single payment should be divided among different recipients. Each object in this array represents one "split" of the total invoice amount.
                submerchant:
                  type: object
                  properties:
                    reference:
                      type: string
                      description: Unique identifier for the submerchant
                    name:
                      type: string
                      description: Business name as registered
                    mcc:
                      type: string
                      description: 'MCC code. Max length: 4'
                    email:
                      type: string
                      description: Valid email format
                    tax_reference:
                      type: string
                      description: Country-specific tax ID
                    service_establishment_number:
                      type: string
                      description: Used by card networks for PayFac identification
                    address:
                      type: object
                      properties:
                        line1:
                          type: string
                        line2:
                          type: string
                        city:
                          type: string
                        state:
                          type: string
                        country_code:
                          type: string
                        zip:
                          type: string
                        county:
                          type: string
                    phone_number:
                      type: object
                      properties:
                        dialing_code:
                          type: string
                          description: With or without + prefix
                        number:
                          type: string
                          description: Digits only
                  description: 'All fields are optional. The submerchant data is passed to payment processors that support PayFac/marketplace scenarios for compliance and settlement purposes.

                    Please speak to your Account Manager to confirm this is supported on your Connections.'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"invoice\": {\n        \"id\": \"iv_MyNUnrEwNf7mrXZO1x6x8eeCoTWC8OQG\",\n        \"project_id\": \"proj_IFCgGTmyClrgTOzsschN1y7GJttHVQ7S\",\n        \"subscription_id\": null,\n        \"customer_id\": \"cust_MFW0Z4jtoXLfADjPKlVRl5LxWkCTUgRw\",\n        \"token_id\": null,\n        \"details\": [\n            {\n                \"id\": \"iv_det_M2LqRkMXxkTSu4CWTMY0X4QKrzz2Urbu\",\n                \"name\": \"iPhone 14 Pro\",\n                \"type\": \"Smartphone\",\n                \"amount\": \"1000\",\n                \"quantity\": 1,\n                \"reference\": \"12221341242\",\n                \"description\": \"iPhone 11 Pro 256Gb Red blablabla\",\n                \"brand\": \"Apple\",\n                \"model\": \"14 Pro\",\n                \"discount_amount\": \"0\",\n                \"condition\": \"new\",\n                \"marketplace_merchant\": null,\n                \"marketplace_merchant_is_business\": null,\n                \"marketplace_merchant_created_at\": null,\n                \"category\": \"technology\",\n                \"metadata\": {}\n            }\n        ],\n        \"transaction_id\": \"tr_Cln3zmZ31m5Crcgz5sfggomIiMm3Mmbm\",\n        \"name\": \"Amazing Product\",\n        \"order_id\": \"123456\",\n        \"amount\": \"29\",\n        \"currency\": \"EUR\",\n        \"metadata\": {\n            \"fruit\": \"banana\"\n        },\n        \"gateway_data\": {},\n        \"exemption_reason_3ds2\": \"\",\n        \"challenge_indicator\": \"\",\n        \"sca_exemption_reason\": \"\",\n        \"statement_descriptor\": \"My Company\",\n        \"merchant_initiator_type\": null,\n        \"initiation_type\": \"MIT\",\n        \"payment_intent\": \"recurring\",\n        \"require_backend_capture\": null,\n        \"card_verification\": null,\n        \"return_url\": \"https://mycompany.com/return-url\",\n        \"cancel_url\": null,\n        \"webhook_url\": \"https://mycompany.com/webhook\",\n        \"sandbox\": true,\n        \"url\": \"https://checkout.processout.com/test-proj_IFCgGTmyClrgTOzsschN1y7GJttHVQ7S/iv_MyNUnrEwNf7mrXZO1x6x8eeCoTWC8OQG\",\n        \"created_at\": \"2023-04-21T17:57:22.807583563Z\",\n        \"expires_at\": null,\n        \"risk\": {\n            \"score\": \"100\",\n            \"is_legit\": true,\n            \"skip_gateway_rules\": false\n        },\n        \"device\": {\n            \"id\": \"112233445566\",\n            \"channel\": \"ios\",\n            \"ip_address\": \"1.1.1.1\"\n        },\n        \"shipping\": {\n            \"amount\": \"12\",\n            \"method\": \"home\",\n            \"provider\": \"DHL\",\n            \"delay\": \"express\",\n            \"address1\": \"133 Rue Lamarck\",\n            \"address2\": \"CEDEX 1\",\n            \"city\": \"Paris\",\n            \"state\": \"Ile De France\",\n            \"country_code\": \"FR\",\n            \"zip\": \"75018\",\n            \"phone\": {\n            \t\t\"number\": \"684758495\",\n            \t\t\"dialing_code\": \"0033\"\n        \t\t},\n            \"expects_shipping_at\": \"2023-04-21T17:52:47.828402061Z\",\n            \"relay_store_name\": \"none\"\n        },\n        \"incremental\": false,\n        \"tax\": {\n            \"rate\": \"1\",\n            \"amount\": \"10\"\n        },\n        \"payment_type\": null,\n        \"payment_methods\": [\n            {\n                \"type\": \"applepay\",\n                \"flow\": \"express\",\n                \"applepay\": {\n                    \"merchant_id\": \"merchant.mycompany.processout.com\",\n                    \"country_code\": \"GB\",\n                    \"supported_networks\": [\n                        \"american express\",\n                        \"visa\"\n                    ],\n                    \"merchant_capabilities\": [\n                        \"supports3DS\",\n                        \"supportsCredit\",\n                        \"supportsDebit\",\n                        \"supportsEMV\"\n                    ]\n                }\n            },\n            {\n                \"type\": \"googlepay\",\n                \"flow\": \"express\",\n                \"googlepay\": {\n                    \"allowed_auth_methods\": [\n                        \"PAN_ONLY\",\n                        \"CRYPTOGRAM_3DS\"\n                    ],\n                    \"allowed_card_networks\": [\n                        \"AMEX\",\n                        \"DISCOVER\",\n                        \"JCB\",\n                        \"MASTERCARD\",\n                        \"VISA\"\n                    ],\n                    \"allow_prepaid_cards\": true,\n                    \"allow_credit_cards\": true,\n                    \"gateway\": \"processout\",\n                    \"gateway_merchant_id\": \"proj_IFCgGTmyClrgTOzsschN1y7GJttHVQ7S\"\n                }\n            },\n            {\n                \"type\": \"apm\",\n                \"display\": {\n                    \"name\": \"Everypay\",\n                    \"logo\": {\n                        \"light_url\": {\n                            \"vector\": \"https://js.processout.com/images/payment-methods/square/everypay.svg\",\n                            \"raster\": \"https://js.processout.com/images/payment-methods/square/everypay-m@4x.png\"\n                        },\n                        \"dark_url\": {\n                            \"vector\": \"https://js.processout.com/images/payment-methods/square/everypay.svg\",\n                            \"raster\": \"https://js.processout.com/images/payment-methods/square/everypay-m@4x.png\"\n                        }\n                    },\n                    \"brand_color\": {\n                        \"light\": \"0x000000FF\",\n                        \"dark\": \"0xFFFFFFFF\"\n                    }\n                },\n                \"apm\": {\n                    \"gateway_configuration_id\": \"gway_conf_yt57esj68rj0ic4egt8bkjp4iin0dwpm.everypay\",\n                    \"redirect_url\": \"https://checkout.processout.com/proj_IFCgGTmyClrgTOzsschN1y7GJttHVQ7S/iv_MyNUnrEwNf7mrXZO1x6x8eeCoTWC8OQG/redirect/gway_conf_yt57esj68rj0ic4egt8bkjp4iin0dwpm.everypay\"\n                }\n            },\n            {\n                \"type\": \"card\",\n                \"display\": {\n                    \"name\": \"Card\",\n                    \"logo\": {\n                        \"light_url\": {\n                            \"vector\": \"https://js.processout.com/images/payment-methods/square/card.svg\",\n                            \"raster\": \"https://js.processout.com/images/payment-methods/square/card-m@4x.png\"\n                        },\n                        \"dark_url\": {\n                            \"vector\": \"https://js.processout.com/images/payment-methods/square/card.svg\",\n                            \"raster\": \"https://js.processout.com/images/payment-methods/square/card-m@4x.png\"\n                        }\n                    },\n                    \"brand_color\": {\n                        \"light\": \"0x000000FF\",\n                        \"dark\": \"0xFFFFFFFF\"\n                    }\n                },\n                \"card\": {\n                    \"cvc_required\": true,\n                    \"cardholder_name_required\": true,\n                    \"scheme_selection_allowed\": true,\n                    \"billing_address\": {\n                        \"collection_mode\": \"full\",\n                        \"restrict_to_country_codes\": [\n                            \"GB\"\n                        ]\n                    },\n                    \"saving_allowed\": false\n                }\n            }\n        ]\n    },\n    \"success\": true\n}"
              schema:
                type: object
                properties:
                  invoice:
                    type: object
                    properties:
                      id:
                        type: string
                        example: iv_MyNUnrEwNf7mrXZO1x6x8eeCoTWC8OQG
                      project_id:
                        type: string
                        example: proj_IFCgGTmyClrgTOzsschN1y7GJttHVQ7S
                      subscription_id: {}
                      customer_id:
                        type: string
                        example: cust_MFW0Z4jtoXLfADjPKlVRl5LxWkCTUgRw
                      token_id: {}
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              example: iv_det_M2LqRkMXxkTSu4CWTMY0X4QKrzz2Urbu
                            name:
                              type: string
                              example: iPhone 14 Pro
                            type:
                              type: string
                              example: Smartphone
                            amount:
                              type: string
                              example: '1000'
                            quantity:
                              type: integer
                              example: 1
                              default: '1'
                            reference:
                              type: string
                              example: '12221341242'
                            description:
                              type: string
                              example: iPhone 11 Pro 256Gb Red blablabla
                            brand:
                              type: string
                              example: Apple
                            model:
                              type: string
                              example: 14 Pro
                            discount_amount:
                              type: string
                              example: '0'
                            condition:
                              type: string
                              example: new
                            marketplace_merchant: {}
                            marketplace_merchant_is_business: {}
                            marketplace_merchant_created_at: {}
                            category:
                              type: string
                              example: technology
                            metadata:
                              type: object
                              properties: {}
                      transaction_id:
                        type: string
                        example: tr_Cln3zmZ31m5Crcgz5sfggomIiMm3Mmbm
                      name:
                        type: string
                        example: Amazing Product
                      order_id:
                        type: string
                        example: '123456'
                      amount:
                        type: string
                        example: '29'
                      currency:
                        type: string
                        example: EUR
                      metadata:
                        type: object
                        properties:
                          fruit:
                            type: string
                            example: banana
                      gateway_data:
                        type: object
                        properties: {}
                      exemption_reason_3ds2:
                        type: string
                        example: ''
                      challenge_indicator:
                        type: string
                        example: ''
                      sca_exemption_reason:
                        type: string
                        example: ''
                      statement_descriptor:
                        type: string
                        example: My Company
                      merchant_initiator_type: {}
                      initiation_type:
                        type: string
                        example: MIT
                      payment_intent:
                        type: string
                        example: recurring
                      require_backend_capture: {}
                      card_verification: {}
                      return_url:
                        type: string
                        example: https://mycompany.com/return-url
                      cancel_url: {}
                      webhook_url:
                        type: string
                        example: https://mycompany.com/webhook
                      sandbox:
                        type: boolean
                        example: true
                        default: true
                      url:
                        type: string
                        example: https://checkout.processout.com/test-proj_IFCgGTmyClrgTOzsschN1y7GJttHVQ7S/iv_MyNUnrEwNf7mrXZO1x6x8eeCoTWC8OQG
                      created_at:
                        type: string
                        example: '2023-04-21T17:57:22.807583563Z'
                      expires_at: {}
                      risk:
                        type: object
                        properties:
                          score:
                            type: string
                            example: '100'
                          is_legit:
                            type: boolean
                            example: true
                            default: true
                          skip_gateway_rules:
                            type: boolean
                            example: false
                            default: true
                      device:
                        type: object
                        properties:
                          id:
                            type: string
                            example: '112233445566'
                          channel(deprecated):
                            type: string
                            example: ios
                          threeds_sdk:
                            type: string
                          platform:
                            type: string
                          ip_address:
                            type: string
                            example: 1.1.1.1
                      shipping:
                        type: object
                        properties:
                          amount:
                            type: string
                            example: '12'
                          method:
                            type: string
                            example: home
                          provider:
                            type: string
                            example: DHL
                          delay:
                            type: string
                            example: express
                          address1:
                            type: string
                            example: 133 Rue Lamarck
                          address2:
                            type: string
                            example: CEDEX 1
                          city:
                            type: string
                            example: Paris
                          state:
                            type: string
                            example: Ile De France
                          country_code:
                            type: string
                            example: FR
                          zip:
                            type: string
                            example: '75018'
                          phone:
                            type: object
                            properties:
                              number:
                                type: string
                                example: '684758495'
                              dialing_code:
                                type: string
                                example: '0033'
                          expects_shipping_at:
                            type: string
                            example: '2023-04-21T17:52:47.828402061Z'
                          relay_store_name:
                            type: string
                            example: none
                      incremental:
                        type: boolean
                        example: false
                        default: true
                      tax:
                        type: object
                        properties:
                          rate:
                            type: string
                            example: '1'
                          amount:
                            type: string
                            example: '10'
                      payment_type: {}
                      payment_methods:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              example: applepay
                            flow:
                              type: string
                              example: express
                            applepay:
                              type: object
                              properties:
                                merchant_id:
                                  type: string
                                  example: merchant.mycompany.processout.com
                                country_code:
                                  type: string
                                  example: GB
                                supported_networks:
                                  type: array
                                  items:
                                    type: string
                                    example: american express
                                merchant_capabilities:
                                  type: array
                                  items:
                                    type: string
                                    example: supports3DS
                  success:
                    type: boolean
                    example: true
                    default: true
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"error_type\": \"request.validation.invalid-phone-number\",\n    \"message\": \"The phone number should not exceed 17 characters.\",\n    \"success\": false\n}"
              schema:
                type: object
                properties:
                  error_type:
                    type: string
                    example: request.validation.invalid-phone-number
                  message:
                    type: string
                    example: The phone number should not exceed 17 characters.
                  success:
                    type: boolean
                    example: false
                    default: true
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"success\": false,\n    \"message\": \"Could not read your project ID. Please make sure to use Basic HTTP authentication using your project ID as the username. If you have any questions, feel free to ask for help at help@processout.com!\",\n    \"error_type\": \"request.authentication.invalid\"\n}"
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                    default: true
                  message:
                    type: string
                    example: Could not read your project ID. Please make sure to use Basic HTTP authentication using your project ID as the username. If you have any questions, feel free to ask for help at help@processout.com!
                  error_type:
                    type: string
                    example: request.authentication.invalid
        4XX:
          description: 4XX
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"error_type\": \"*Error code*\",\n    \"message\": \"*Error message*\",\n    \"success\": false\n}"
              schema:
                type: object
                properties:
                  error_type:
                    type: string
                    example: '*Error code*'
                  message:
                    type: string
                    example: '*Error message*'
                  success:
                    type: boolean
                    example: false
                    default: true
      x-readme:
        code-samples:
        - language: node
[...]
